@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
  background-color: #F7F7F7;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .container {
    width: 1288px;
  }
}

.navigation {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.navigation #logo {
  padding: 1rem;
  padding-left: 0;
}

.navigation__list {
  display: none;
  list-style: none;
  color: #fff;
}

.navigation__list .item {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.navigation__list .item--active {
  color: #35AF8B;
}

.navigation__list .item:hover {
  color: #35AF8B;
}

.navigation__list .item a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 800px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

@media (min-width: 1024px) {
  .navigation__list {
    padding: 1rem 0;
    gap: 2rem;
  }
}

.navigation__burger {
  padding: 1rem;
  padding-right: 0;
  cursor: pointer;
}

.navigation__burger .line {
  width: 30px;
  height: 2px;
  background-color: white;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation__burger .line::before, .navigation__burger .line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation__burger .line::before {
  top: 7px;
}

.navigation__burger .line::after {
  bottom: 7px;
}

.navigation__burger .active {
  background-color: transparent;
}

.navigation__burger .active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navigation__burger .active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

@media (min-width: 800px) {
  .navigation__burger {
    display: none;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header::after {
  content: "";
  top: 100%;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(16, 16, 16, 0.6);
}

.header--bg {
  background-color: rgba(16, 16, 16, 0.6);
}

@media (min-width: 800px) {
  .header:hover {
    background-color: rgba(16, 16, 16, 0.6);
  }
  .header:hover::after {
    height: 200px;
  }
  .header:hover .nav__items {
    opacity: 1;
    visibility: visible;
  }
  .header:hover .nav__items .items .item {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header .nav__items {
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 1rem 0;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 10;
}

.header .nav__items .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0;
}

.header .nav__items .items .item {
  height: 200px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__items .items .item a {
  color: #BCBCBC;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom: .5rem;
}

.header .nav__items .items .item a:hover {
  color: white;
  text-decoration: underline;
}

.header .nav__items .items .item:nth-child(1) {
  width: 93px;
}

.header .nav__items .items .item:nth-child(2) {
  width: 116px;
}

.header .nav__items .items .item:nth-child(3) {
  width: 131px;
}

.header .nav__items .items .item:nth-child(4) {
  width: 120px;
}

.header .nav__items .items .item:nth-child(5) {
  width: 113px;
}

@media (min-width: 1024px) {
  .header .nav__items .items {
    gap: 2rem;
  }
}

.mobile-navigation {
  width: 100%;
  height: 100vh;
  background-color: #222;
  position: fixed;
  top: 0;
  z-index: 30;
  left: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.mobile-navigation--open {
  left: 0;
}

.mobile-navigation .container {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.mobile-navigation .container .navItem {
  width: 100%;
}

.mobile-navigation .container .navItem__item {
  list-style: none;
  text-transform: uppercase;
  color: #BCBCBC;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-navigation .container .navItem__item .ttle {
  font-size: 22px;
  padding: .5rem 1rem;
  border-bottom: 1px solid #393939;
}

.mobile-navigation .container .navItem__item .ttle a {
  color: inherit;
  text-decoration: none;
}

.mobile-navigation .container .navItem__item .sublist {
  list-style: none;
  padding: 1rem 2rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-navigation .container .navItem__item .sublist__item {
  color: #BCBCBC;
  font-weight: 400;
  padding: 5px;
}

.mobile-navigation .container .navItem__item .sublist__item a {
  color: #BCBCBC;
  text-decoration: none;
}

.mobile-navigation .container .navItem__item .sublist--active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.mobile-navigation .container .navItem__item.active {
  color: #35AF8B;
}

@media (min-width: 800px) {
  .mobile-navigation {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 320px;
  background-image: url("../images/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero .container {
  height: 100%;
}

.hero__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}

.hero__content__title {
  width: 100%;
  color: white;
  margin-top: 3rem;
}

.hero__content__title h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.hero__content__title h1 span {
  font-weight: 600;
}

.hero__content__title h1.big {
  font-size: 32px !important;
  font-weight: 700;
}

.hero__content__title h1.big ~ p {
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.02em;
  margin-top: 1rem;
}

.hero__content__title h1.big--eng {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 800px) {
  .hero__content__title h1.big {
    font-size: 48px !important;
  }
  .hero__content__title h1.big ~ p {
    font-size: 24px;
    line-height: 38px;
  }
}

.hero__content__formula {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0;
}

.hero__content__formula #desk1 {
  display: none;
}

.hero__content__formula .operator {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .hero__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__content__title {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .hero {
    height: 500px;
  }
  .hero__content__title {
    margin-bottom: 3rem;
  }
  .hero__content__title h1 {
    font-size: 36px;
    line-height: 54px;
  }
  .hero__content__formula {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 8rem;
  }
}

@media (min-width: 1024px) {
  .hero__content__formula #desk1 {
    display: block;
  }
  .hero__content__formula #mob1 {
    display: none;
  }
  .hero__content__formula .operator {
    font-size: 48px;
    margin-bottom: 2rem;
  }
}

.main {
  background-color: white;
  position: relative;
}

.main__clip {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  background-color: #F7F7F7;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 15% 100%, 0 95%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 15% 100%, 0 95%);
}

@media (min-width: 1200px) {
  .main__clip {
    clip-path: polygon(0 0, 100% 0, 100% 55%, 18% 100%, 0 80%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 18% 100%, 0 80%);
  }
}

.main__description {
  width: 100%;
  position: relative;
  z-index: 5;
  padding: 3rem 0;
}

.main__description .text_content {
  width: 100%;
}

.main__description .text_content h1 {
  font-size: 32px;
  color: #222;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
}

.main__description .text_content p {
  font-size: 14px;
  color: #333;
  line-height: 26px;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
}

.main__description .text_content p span {
  color: #35AF8B;
}

.main__description .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.main__description .buttons .btn {
  width: 50%;
  color: #35AF8B;
  border: 1px solid #35AF8B;
  background-color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .75rem;
}

.main__description .buttons .btn p {
  font-weight: 700;
}

.main__description .buttons .btn.active {
  background-color: #35AF8B;
  color: white;
}

@media (min-width: 800px) {
  .main__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 7rem;
    padding-top: 8rem;
  }
  .main__description .text_content h1 {
    font-size: 46px;
  }
  .main__description .text_content p {
    margin: 0;
    font-size: 1rem;
    line-height: 28px;
  }
  .main__description .buttons {
    width: 560px;
  }
}

.main .main__cards {
  width: 100%;
  position: relative;
  z-index: 5;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.main .main__cards .card {
  width: 100%;
  height: 200px;
  border: 1px solid #e7e7e7;
  background-color: white;
  padding: 1rem 1.25rem;
}

.main .main__cards .card--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0;
  height: 200px;
  margin: 0;
}

.main .main__cards .card--items .card__imgs {
  margin-top: 1rem !important;
}

@media (min-width: 1200px) {
  .main .main__cards .card--items .card__imgs {
    margin-top: 1.5rem !important;
  }
}

.main .main__cards .card--items:nth-child(2) .card__imgs {
  margin-top: 3rem !important;
}

@media (min-width: 1200px) {
  .main .main__cards .card--items:nth-child(2) .card__imgs {
    margin-top: 5rem !important;
  }
}

.main .main__cards .card__title {
  font-weight: 500;
  font-size: 14px;
  color: #222;
  width: 100%;
}

.main .main__cards .card__imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.main .main__cards .card__imgs #desc {
  display: none;
}

.main .main__cards .card__imgs.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .75rem;
}

@media (min-width: 800px) {
  .main .main__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .main__cards .card {
    height: 300px;
    padding: 3rem;
  }
  .main .main__cards .card__title {
    font-size: 18px;
  }
  .main .main__cards .card__imgs {
    width: 100%;
    margin-top: 1.5rem;
  }
  .main .main__cards .card__imgs #desc {
    display: block;
    width: 50%;
  }
  .main .main__cards .card__imgs #mob {
    display: none;
  }
  .main .main__cards .card__imgs.col #desc {
    width: 90%;
  }
  .main .main__cards .card__imgs.col #desc:nth-child(2) {
    width: 84%;
  }
}

@media (min-width: 1200px) {
  .main .main__cards .card {
    height: 370px;
  }
  .main .main__cards .card__imgs {
    margin-top: 2.75rem;
  }
}

.main__color {
  width: 100%;
}

.main__color .title {
  color: #222;
  font-size: 18px;
}

.main__color .card {
  width: 100%;
  padding: 1rem 1.25rem;
  border: 1px solid #e7e7e7;
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75em;
}

.main__color .card__item {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.main__color .card__item .box {
  height: 100%;
  width: 100px;
  background-color: #578C76;
}

.main__color .card__item .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__color .card__item .detail__title {
  color: #578C76;
  font-size: 1rem;
}

.main__color .card__item .detail__hex {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.main__color .card__item .detail__rgb {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.main__color .card__item .detail__rgb__detail {
  color: #444;
  font-size: 14px;
  font-weight: 500;
}

.main__color .card__item:nth-child(2) .box {
  background-color: #35AF8B;
}

.main__color .card__item:nth-child(2) .detail__title {
  color: #35AF8B;
}

.main__color .card__item:nth-child(3) .box {
  background-color: #F1B853;
}

.main__color .card__item:nth-child(3) .detail__title {
  color: #F1B853;
}

@media (min-width: 600px) {
  .main__color .card {
    padding: 5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .main__color .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding: 5rem;
  }
  .main__color .card__item {
    height: auto;
  }
  .main__color .card .box {
    width: 140px;
    height: 140px;
  }
  .main__color .card .detail {
    height: 140px;
  }
  .main__color .card .detail__title {
    font-size: 18px;
    margin-bottom: .6rem;
  }
  .main__color .card .detail__hex {
    font-size: 15px;
    margin-bottom: 2rem;
  }
  .main__color .card .detail__rgb__detail {
    font-size: 15px;
  }
}

.main__color .grid-items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  padding-bottom: 2rem;
}

.main__color .grid-items__card {
  height: 112px;
  border: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.main__color .grid-items__card #desktop {
  display: none;
}

.main__color .grid-items__card:nth-child(2), .main__color .grid-items__card:nth-child(4) {
  background-color: black;
  border-color: black;
}

.main__color .grid-items__card:nth-child(6) {
  background-color: #578C76;
  border-color: #578C76;
}

.main__color .grid-items__card:nth-child(7) {
  background-color: #35AF8B;
  border-color: #35AF8B;
}

.main__color .grid-items__card:nth-child(8) {
  background-color: #F1B853;
  border-color: #F1B853;
}

@media (min-width: 800px) {
  .main__color .grid-items {
    gap: 1rem;
  }
  .main__color .grid-items__card {
    height: 220px;
  }
  .main__color .grid-items__card #desktop {
    display: block;
  }
  .main__color .grid-items__card #mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main__color .grid-items {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.main__carditems {
  padding: 1.5rem 0;
}

.main__carditems .main__cards {
  padding-bottom: 0;
}

.main__carditems .main__cards .card:first-child {
  margin-top: 1.5rem !important;
}

.main__carditems .main__cards .card:last-child {
  margin-bottom: 1rem !important;
}

@media (min-width: 800px) {
  .main__carditems .main__cards .card {
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
  }
}

.brands {
  width: 100%;
  background-color: #222;
  position: relative;
  z-index: 5;
}

.brands__container {
  width: 100%;
  padding: 2rem 0;
}

.brands__brand {
  width: 100%;
  padding: 2rem 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.brands__brand .logo {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.brands__brand h2 {
  color: white;
  margin-top: 1rem;
}

.brands__brand .brand_title p {
  margin-top: 5px;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  display: none;
}

.brands__brand p {
  color: #C4C4C4;
}

.brands__brand a {
  color: white;
  text-decoration: none;
  margin-top: 1.5rem;
}

.brands__brand a button {
  width: 124px;
  padding: 1rem;
  background-color: #35af8b;
  color: white;
  border: 1px solid #35af8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.brands__brand a button .txt {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

@media (min-width: 500px) {
  .brands__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .brands__brand .brand_title p {
    display: block;
  }
}

@media (min-width: 1024px) {
  .brands__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .brands__container {
    gap: 4rem;
  }
}

.rocket {
  width: 100%;
  background-color: #FFDA56;
  color: #222;
  position: relative;
  z-index: 5;
}

.rocket__container {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.rocket__container p {
  font-size: 14px;
  margin-top: 10px;
}

.rocket__container p span {
  color: #000;
  font-weight: 500;
}

.rocket__container .title h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.rocket__container .title p {
  font-size: 18px;
  line-height: 30px;
}

.rocket__container .button {
  width: 100%;
  margin-top: 2rem;
}

.rocket__container .button button {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #222;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  border: 1px solid #222;
}

.rocket__container .button button p {
  margin: 0;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  white-space: nowrap;
}

@media (min-width: 800px) {
  .rocket__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 4rem;
  }
  .rocket__container .button {
    width: 305px;
  }
  .rocket__container .button button {
    font-size: 18px;
  }
  .rocket__container p {
    font-size: 16px;
  }
  .rocket__container .title h1 {
    font-size: 46px;
  }
  .rocket__container .title p {
    font-size: 20px;
  }
}

.footer {
  width: 100%;
  background-color: #303030;
  position: relative;
  z-index: 5;
}

.footer__content {
  padding: 4rem 0;
  color: #a5a5a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

@media (min-width: 800px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .footer__content {
    gap: 6rem;
  }
}

.footer__nav {
  width: 100%;
}

.footer__nav .select {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.footer__nav .select .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.footer__nav .select .row h1 {
  font-size: 13px;
}

.footer__nav .select .row a {
  color: #a5a5a5;
  text-decoration: none;
}

@media (min-width: 800px) {
  .footer__nav .select .row:nth-child(2) {
    display: none;
  }
}

.footer__nav .info .address {
  font-size: 13px;
}

.footer__nav .info .copyright {
  font-size: 13px;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
}

.footer .options_container {
  width: 100%;
}

.footer .options_container .row {
  width: 100%;
  display: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer .options_container .row a {
  color: #a5a5a5;
  text-decoration: none;
}

.footer .options_container .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  padding: 1rem 1.5rem;
  background-color: #3a3a3a;
}

.footer .options_container .options p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.03em;
  font-size: 13px;
  font-weight: 500;
}

@media (min-width: 800px) {
  .footer .options_container {
    width: 300px;
  }
  .footer .options_container .row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
/*# sourceMappingURL=ci-bi.css.map */