@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
  background-color: #F7F7F7;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .container {
    width: 1288px;
  }
}

.navigation {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.navigation #logo {
  padding: 1rem;
  padding-left: 0;
}

.navigation__list {
  display: none;
  list-style: none;
  color: #fff;
}

.navigation__list .item {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.navigation__list .item--active {
  color: #35AF8B;
}

.navigation__list .item:hover {
  color: #35AF8B;
}

.navigation__list .item a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 800px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

@media (min-width: 1024px) {
  .navigation__list {
    padding: 1rem 0;
    gap: 2rem;
  }
}

.navigation__burger {
  padding: 1rem;
  padding-right: 0;
  cursor: pointer;
}

.navigation__burger .line {
  width: 30px;
  height: 2px;
  background-color: white;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation__burger .line::before, .navigation__burger .line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation__burger .line::before {
  top: 7px;
}

.navigation__burger .line::after {
  bottom: 7px;
}

.navigation__burger .active {
  background-color: transparent;
}

.navigation__burger .active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navigation__burger .active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

@media (min-width: 800px) {
  .navigation__burger {
    display: none;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header::after {
  content: "";
  top: 100%;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(16, 16, 16, 0.6);
}

.header--bg {
  background-color: rgba(16, 16, 16, 0.6);
}

@media (min-width: 800px) {
  .header:hover {
    background-color: rgba(16, 16, 16, 0.6);
  }
  .header:hover::after {
    height: 200px;
  }
  .header:hover .nav__items {
    opacity: 1;
    visibility: visible;
  }
  .header:hover .nav__items .items .item {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header .nav__items {
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 1rem 0;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 10;
}

.header .nav__items .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0;
}

.header .nav__items .items .item {
  height: 200px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__items .items .item a {
  color: #BCBCBC;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom: .5rem;
}

.header .nav__items .items .item a:hover {
  color: white;
  text-decoration: underline;
}

.header .nav__items .items .item:nth-child(1) {
  width: 93px;
}

.header .nav__items .items .item:nth-child(2) {
  width: 116px;
}

.header .nav__items .items .item:nth-child(3) {
  width: 131px;
}

.header .nav__items .items .item:nth-child(4) {
  width: 120px;
}

.header .nav__items .items .item:nth-child(5) {
  width: 113px;
}

@media (min-width: 1024px) {
  .header .nav__items .items {
    gap: 2rem;
  }
}

.mobile-navigation {
  width: 100%;
  height: 100vh;
  background-color: #222;
  position: fixed;
  top: 0;
  z-index: 30;
  left: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.mobile-navigation--open {
  left: 0;
}

.mobile-navigation .container {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.mobile-navigation .container .navItem {
  width: 100%;
}

.mobile-navigation .container .navItem__item {
  list-style: none;
  text-transform: uppercase;
  color: #BCBCBC;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-navigation .container .navItem__item .ttle {
  font-size: 22px;
  padding: .5rem 1rem;
  border-bottom: 1px solid #393939;
}

.mobile-navigation .container .navItem__item .ttle a {
  color: inherit;
  text-decoration: none;
}

.mobile-navigation .container .navItem__item .sublist {
  list-style: none;
  padding: 1rem 2rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-navigation .container .navItem__item .sublist__item {
  color: #BCBCBC;
  font-weight: 400;
  padding: 5px;
}

.mobile-navigation .container .navItem__item .sublist__item a {
  color: #BCBCBC;
  text-decoration: none;
}

.mobile-navigation .container .navItem__item .sublist--active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.mobile-navigation .container .navItem__item.active {
  color: #35AF8B;
}

@media (min-width: 800px) {
  .mobile-navigation {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 320px;
  background-image: url("../images/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero .container {
  height: 100%;
}

.hero__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}

.hero__content__title {
  width: 100%;
  color: white;
  margin-top: 3rem;
}

.hero__content__title h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.hero__content__title h1 span {
  font-weight: 600;
}

.hero__content__title h1.big {
  font-size: 32px !important;
  font-weight: 700;
}

.hero__content__title h1.big ~ p {
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.02em;
  margin-top: 1rem;
}

.hero__content__title h1.big--eng {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 800px) {
  .hero__content__title h1.big {
    font-size: 48px !important;
  }
  .hero__content__title h1.big ~ p {
    font-size: 24px;
    line-height: 38px;
  }
}

.hero__content__formula {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0;
}

.hero__content__formula #desk1 {
  display: none;
}

.hero__content__formula .operator {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .hero__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__content__title {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .hero {
    height: 500px;
  }
  .hero__content__title {
    margin-bottom: 3rem;
  }
  .hero__content__title h1 {
    font-size: 36px;
    line-height: 54px;
  }
  .hero__content__formula {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 8rem;
  }
}

@media (min-width: 1024px) {
  .hero__content__formula #desk1 {
    display: block;
  }
  .hero__content__formula #mob1 {
    display: none;
  }
  .hero__content__formula .operator {
    font-size: 48px;
    margin-bottom: 2rem;
  }
}

.portfolio__filter {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .portfolio__filter {
    width: 900px;
    margin: auto;
    padding: 2rem 0;
  }
}

.portfolio__select {
  width: 36%;
  padding: 1rem 1.25rem;
  background-color: #F1F2F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  border-radius: 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.portfolio__select .cat {
  color: #444;
  font-weight: 500;
  font-size: 13px;
}

.portfolio__select .cat ~ i {
  font-size: 14px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio__select .cat ~ i.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.portfolio__select.angle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.portfolio__select .options {
  background-color: #F1F2F3;
  list-style: none;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 50%;
  left: 0;
  padding: 1rem 1.25rem;
  font-size: 13px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  font-weight: 400 !important;
}

.portfolio__select .options__item {
  padding-top: .5rem;
}

.portfolio__select .options.extend {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

@media (min-width: 768px) {
  .portfolio__select {
    width: 33%;
  }
  .portfolio__select .cat {
    font-size: 1rem;
  }
  .portfolio__select .options {
    font-size: 1rem;
    padding-top: 2rem;
  }
  .portfolio__select .options__item {
    padding-top: 1rem;
  }
}

.portfolio__search {
  width: 64%;
  background-color: #F1F2F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  padding: 4px;
  border-radius: 25px;
}

.portfolio__search input {
  width: calc(100% - 44px);
  padding: .5rem 1rem;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: none;
  background-color: transparent;
  color: #444;
}

.portfolio__search input:focus {
  outline: none;
}

.portfolio__search input::-webkit-input-placeholder {
  color: #C4C4C4;
  font-size: 13px;
}

.portfolio__search input:-ms-input-placeholder {
  color: #C4C4C4;
  font-size: 13px;
}

.portfolio__search input::-ms-input-placeholder {
  color: #C4C4C4;
  font-size: 13px;
}

.portfolio__search input::placeholder {
  color: #C4C4C4;
  font-size: 13px;
}

.portfolio__search .search {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: none;
  background-color: #35AF8B;
  position: relative;
  cursor: pointer;
}

.portfolio__search .search::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 3px solid #fff;
  border-radius: 50%;
}

.portfolio__search .search::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 3px;
  background-color: white;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  top: 28px;
  left: 28px;
}

@media (min-width: 768px) {
  .portfolio__search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .portfolio__search input {
    font-size: 1rem;
  }
  .portfolio__search input::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .portfolio__search input:-ms-input-placeholder {
    font-size: 1rem;
  }
  .portfolio__search input::-ms-input-placeholder {
    font-size: 1rem;
  }
  .portfolio__search input::placeholder {
    font-size: 1rem;
  }
  .portfolio__search .search {
    width: 48px;
    height: 48px;
  }
  .portfolio__search .search::before {
    width: 20px;
    height: 20px;
  }
  .portfolio__search .search::after {
    width: 8px;
    top: 32px;
    left: 32px;
  }
}

.pagination {
  width: 100%;
  margin: auto;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.pagination__item .button {
  cursor: pointer;
}

.pagination__item .button.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__item .button.first {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item .button.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item .page {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.pagination__item .page:nth-child(4), .pagination__item .page:nth-child(5) {
  display: none;
}

.pagination__item .page.active {
  font-weight: 700;
  color: #578C76;
  text-decoration: underline;
}

.pagination__item.hidden {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 768px) {
  .pagination {
    width: 576px;
    padding-top: 4rem;
  }
  .pagination__item {
    gap: 3rem;
  }
  .pagination__item .page {
    font-size: 18px;
  }
  .pagination__item .page:nth-child(4), .pagination__item .page:nth-child(5) {
    display: block;
  }
  .pagination__item .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pagination__item .button img {
    width: 9px;
  }
}

.pagination--programm {
  padding-top: 0 !important;
  padding-bottom: 3.5rem !important;
}

@media (min-width: 768px) {
  .pagination--programm {
    padding-bottom: 7rem !important;
  }
}

.main {
  width: 100%;
  background-color: white;
}

.programm {
  width: 100%;
  padding-top: 1rem;
}

.programm__items {
  padding: 3rem 0;
}

.programm__items .item {
  padding-bottom: 2rem;
}

.programm__items .item--completed .thumbnail::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.programm__items .item--completed .thumbnail img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.programm__items .item--completed .thumbnail .mark {
  background-color: #FFDA56 !important;
}

.programm__items .item .thumbnail {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}

.programm__items .item .thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.programm__items .item .thumbnail .mark {
  width: 100px;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #33F4BB;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.5rem), 50% 100%, 0 calc(100% - 1.5rem));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.5rem), 50% 100%, 0 calc(100% - 1.5rem));
  font-weight: 700;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px) {
  .programm__items .item .thumbnail .mark {
    font-size: 1rem;
  }
}

.programm__items .item .title {
  margin-top: 2rem;
  margin-bottom: .75rem;
}

.programm__items .item .title h1 {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

.programm__items .item .title h1 a {
  color: inherit;
  text-decoration: none;
}

.programm__items .item .short p {
  font-weight: 500;
  color: #444;
  font-size: 13px;
}

.programm__items .item .date {
  margin-top: 1.5rem;
}

.programm__items .item .date p {
  color: #808080;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 576px) {
  .programm__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .programm__items .item .title h1 {
    font-size: 18px;
  }
  .programm__items .item .short p {
    font-size: 15px;
  }
  .programm__items .item .date p {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .programm__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .programm__items .item .thumbnail {
    height: 308px;
  }
}

.programm__view {
  padding: 3rem 0;
}

.programm__view__title h1 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #000;
}

.programm__view__title .date-short {
  margin: 1rem 0;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 13px;
  color: #444;
}

.programm__view__title .date-short .eng {
  font-weight: "Montserrat", sans-serif;
}

.programm__view__content {
  width: 100%;
  border-top: 3px solid #35AF8B;
  padding: 1.5rem 0;
}

.programm__view__content .content-thumbnail {
  width: 100%;
  height: 220px;
}

.programm__view__content .content-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.programm__view__content .content-title {
  padding: 1.5rem 0;
}

.programm__view__content .content-title h1 {
  font-weight: 500;
  font-size: 1rem;
  color: #000;
}

.programm__view__content .content-table {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

.programm__view__content .content-table .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

.programm__view__content .content-table .description {
  font-size: 14px;
  color: #444;
  font-weight: 400;
}

.programm__view__content .content-table .description .eng {
  font-family: "Montserrat", sans-serif;
}

.programm__view__content .content-description {
  padding: 2rem 0;
  color: #444;
  font-size: 14px;
  line-height: 24px;
}

.programm__view__content .content-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  background-color: #35AF8B;
  padding: 1rem;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

@media (min-width: 768px) {
  .programm__view__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
    padding-top: 3rem;
  }
  .programm__view__content .content-thumbnail {
    width: 50%;
    height: 430px;
  }
  .programm__view__content .more {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
  .programm__view__content .more .dtl .content-title {
    padding-top: 0;
  }
  .programm__view__content .more .dtl .content-title h1 {
    font-size: 20px;
  }
  .programm__view__content .more .dtl .content-table {
    padding-top: 1.5rem;
  }
  .programm__view__content .more .dtl .content-table .name {
    font-size: 15px;
  }
  .programm__view__content .more .dtl .content-table .description {
    font-size: 15px;
  }
  .programm__view__content .more .dtl .content-description {
    font-size: 1rem;
  }
  .programm__view__content .content-btn {
    width: 250px;
  }
}

.programm__view__pic {
  width: 100%;
}

.programm__view__pic .sub-title {
  color: #444;
  font-size: 13px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.programm__view__pic .cover {
  width: 100%;
  height: 500px;
  margin: 2rem 0;
}

.programm__view__pic .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .programm__view__pic .cover {
    margin-bottom: 4rem !important;
    height: 720px;
    margin-top: 4rem;
  }
}

.programm__view__pic .table {
  border-top: 1px solid #e0e0e0;
}

.programm__view__pic .table__item {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.programm__view__pic .table__item i {
  font-size: 13px;
  color: #aaa;
}

.programm__view__pic .table__item .dd {
  font-size: 13px;
  color: #aaa;
  font-weight: 500;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .programm__view__pic .table__item .dd {
    font-size: 14px !important;
  }
}

.programm__view__pic .table__item .trunc {
  font-size: 13px;
  color: #444;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .programm__view__pic .table__item .trunc {
    font-size: 14px !important;
  }
}

.programm__view__pic .list-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2rem;
}

.programm__view__pic .list-btn button {
  color: #828282;
  padding: 1rem;
  width: 116px;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 14px;
  border: none;
}

@media (min-width: 768px) {
  .programm__view__pic .list-btn button {
    font-size: 16px !important;
    margin-top: 2rem;
    margin-bottom: 4rem !important;
  }
}

.rocket {
  width: 100%;
  background-color: #FFDA56;
  color: #222;
  position: relative;
  z-index: 5;
}

.rocket__container {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.rocket__container p {
  font-size: 14px;
  margin-top: 10px;
}

.rocket__container p span {
  color: #000;
  font-weight: 500;
}

.rocket__container .title h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.rocket__container .title p {
  font-size: 18px;
  line-height: 30px;
}

.rocket__container .button {
  width: 100%;
  margin-top: 2rem;
}

.rocket__container .button button {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #222;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  border: 1px solid #222;
}

.rocket__container .button button p {
  margin: 0;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  white-space: nowrap;
}

@media (min-width: 800px) {
  .rocket__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 4rem;
  }
  .rocket__container .button {
    width: 305px;
  }
  .rocket__container .button button {
    font-size: 18px;
  }
  .rocket__container p {
    font-size: 16px;
  }
  .rocket__container .title h1 {
    font-size: 46px;
  }
  .rocket__container .title p {
    font-size: 20px;
  }
}

.footer {
  width: 100%;
  background-color: #303030;
  position: relative;
  z-index: 5;
}

.footer__content {
  padding: 4rem 0;
  color: #a5a5a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

@media (min-width: 800px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .footer__content {
    gap: 6rem;
  }
}

.footer__nav {
  width: 100%;
}

.footer__nav .select {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.footer__nav .select .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.footer__nav .select .row h1 {
  font-size: 13px;
}

.footer__nav .select .row a {
  color: #a5a5a5;
  text-decoration: none;
}

@media (min-width: 800px) {
  .footer__nav .select .row:nth-child(2) {
    display: none;
  }
}

.footer__nav .info .address {
  font-size: 13px;
}

.footer__nav .info .copyright {
  font-size: 13px;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
}

.footer .options_container {
  width: 100%;
}

.footer .options_container .row {
  width: 100%;
  display: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer .options_container .row a {
  color: #a5a5a5;
  text-decoration: none;
}

.footer .options_container .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  padding: 1rem 1.5rem;
  background-color: #3a3a3a;
}

.footer .options_container .options p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.03em;
  font-size: 13px;
  font-weight: 500;
}

@media (min-width: 800px) {
  .footer .options_container {
    width: 300px;
  }
  .footer .options_container .row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
/*# sourceMappingURL=programms.css.map */