@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
  background-color: #F7F7F7;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1288px;
  }
}

.navigation {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.navigation #logo {
  padding: 1rem;
  padding-left: 0;
}

.navigation__list {
  display: none;
  list-style: none;
  color: #fff;
}

.navigation__list .item {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.navigation__list .item--active {
  color: #35AF8B;
}

.navigation__list .item:hover {
  color: #35AF8B;
}

.navigation__list .item a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 800px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

@media (min-width: 1024px) {
  .navigation__list {
    padding: 1rem 0;
    gap: 2rem;
  }
}

.navigation__burger {
  padding: 1rem;
  padding-right: 0;
  cursor: pointer;
}

.navigation__burger .line {
  width: 30px;
  height: 2px;
  background-color: white;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation__burger .line::before, .navigation__burger .line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation__burger .line::before {
  top: 7px;
}

.navigation__burger .line::after {
  bottom: 7px;
}

.navigation__burger .active {
  background-color: transparent;
}

.navigation__burger .active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navigation__burger .active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

@media (min-width: 800px) {
  .navigation__burger {
    display: none;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header::after {
  content: "";
  top: 100%;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(16, 16, 16, 0.6);
}

.header--bg {
  background-color: rgba(16, 16, 16, 0.6);
}

@media (min-width: 800px) {
  .header:hover {
    background-color: rgba(16, 16, 16, 0.6);
  }
  .header:hover::after {
    height: 200px;
  }
  .header:hover .nav__items {
    opacity: 1;
    visibility: visible;
  }
  .header:hover .nav__items .items .item {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header .nav__items {
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 1rem 0;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 10;
}

.header .nav__items .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0;
}

.header .nav__items .items .item {
  height: 200px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__items .items .item a {
  color: #BCBCBC;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom: .5rem;
}

.header .nav__items .items .item a:hover {
  color: white;
  text-decoration: underline;
}

.header .nav__items .items .item:nth-child(1) {
  width: 93px;
}

.header .nav__items .items .item:nth-child(2) {
  width: 116px;
}

.header .nav__items .items .item:nth-child(3) {
  width: 131px;
}

.header .nav__items .items .item:nth-child(4) {
  width: 120px;
}

.header .nav__items .items .item:nth-child(5) {
  width: 113px;
}

@media (min-width: 1024px) {
  .header .nav__items .items {
    gap: 2rem;
  }
}

.mobile-navigation {
  width: 100%;
  height: 100vh;
  background-color: #222;
  position: fixed;
  top: 0;
  z-index: 30;
  left: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.mobile-navigation--open {
  left: 0;
}

.mobile-navigation .container {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.mobile-navigation .container .navItem {
  width: 100%;
}

.mobile-navigation .container .navItem__item {
  list-style: none;
  text-transform: uppercase;
  color: #BCBCBC;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-navigation .container .navItem__item .ttle {
  font-size: 22px;
  padding: .5rem 1rem;
  border-bottom: 1px solid #393939;
}

.mobile-navigation .container .navItem__item .ttle a {
  color: inherit;
  text-decoration: none;
}

.mobile-navigation .container .navItem__item .sublist {
  list-style: none;
  padding: 1rem 2rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-navigation .container .navItem__item .sublist__item {
  color: #BCBCBC;
  font-weight: 400;
  padding: 5px;
}

.mobile-navigation .container .navItem__item .sublist__item a {
  color: #BCBCBC;
  text-decoration: none;
}

.mobile-navigation .container .navItem__item .sublist--active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.mobile-navigation .container .navItem__item.active {
  color: #35AF8B;
}

@media (min-width: 800px) {
  .mobile-navigation {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 600px;
  background-image: url(../images/hero-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0;
  padding-bottom: 2px;
}

.hero__layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}

.hero__clip {
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: #F7F7F7;
  bottom: 0;
  clip-path: polygon(0 50%, 19% 70%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 50%, 19% 70%, 100% 0, 100% 100%, 0 100%);
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.25rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 5;
}

.hero__text h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  font-size: 22px;
  color: #FFC67B;
}

.hero__text h3 span {
  color: white;
}

.hero__text .desktop {
  display: none;
}

.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  margin: 1rem 0 1.5rem 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  position: relative;
  z-index: 5;
}

.hero__top h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.hero__swiper {
  width: 100%;
  height: 250px;
  margin-bottom: -2px;
}

.hero__swiper .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  padding-bottom: 2rem;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: white;
  padding-right: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content .tag {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  text-align: center;
  padding: .5rem 0;
  font-size: 13px;
  background-color: #33F4BB;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content .tag .arrow {
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 20px solid #33F4BB;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content .tag--yellow {
  background-color: #FFDA56;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content .tag--yellow .arrow {
  border-top: 20px solid #FFDA56;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content h3 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: .75rem;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content div p {
  color: #444;
  font-size: 14px;
}

.hero__swiper .swiper .swiper-wrapper .swiper-slide .content p {
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 800px) {
  .hero__swiper .swiper .swiper-wrapper .swiper-slide {
    padding-bottom: 0;
  }
}

.hero__swiper .swiper .swiper-scrollbar {
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

@media (min-width: 800px) {
  .hero__swiper .swiper .swiper-scrollbar {
    display: none;
  }
}

@media (min-width: 800px) {
  .hero__swiper .swiper {
    overflow: hidden;
  }
}

@media (min-width: 800px) {
  .hero {
    height: 800px;
  }
  .hero__clip {
    clip-path: polygon(0 50%, 18% 100%, 100% 17%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 50%, 18% 100%, 100% 17%, 100% 100%, 0 100%);
  }
  .hero__text {
    margin-bottom: 7rem;
  }
  .hero__text p {
    font-size: 24px;
  }
  .hero__text .mobile {
    display: none;
  }
  .hero__text .desktop {
    display: block;
    width: 517px;
  }
  .hero__text__line h3 {
    font-size: 36px;
  }
  .hero__top h2 {
    font-size: 42px;
  }
}

@media (min-width: 1030px) {
  .hero__text {
    margin-bottom: 8.5rem;
  }
  .hero__text__line {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1520px) {
  .hero__clip {
    clip-path: polygon(0 50%, 18% 100%, 100% 2%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 50%, 18% 100%, 100% 2%, 100% 100%, 0 100%);
  }
}

.hex {
  width: 100%;
  padding-top: 4rem;
}

.hex__header {
  width: 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  font-family: "Montserrat", sans-serif;
}

.hex__header .tex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.hex__header .tex h2 {
  text-transform: uppercase;
  font-size: 24px;
}

.hex__header .tex p {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.hex__header .tex-img {
  display: none;
}

.hex__slider {
  width: 100%;
  height: 254px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  position: relative;
}

.hex__slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hex__slider__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.65) 100%);
  top: 0;
  left: 0;
}

.hex__slider__caption {
  width: 70%;
  height: 100%;
  padding: 1.5rem;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.hex__slider__caption h2 a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 0.75rem;
}

.hex__slider__caption p {
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 1rem;
}

.hex__nav {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.hex__nav__item {
  height: 110px;
  width: 128px;
  position: relative;
  -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
          clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.hex__nav__item__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.hex__nav__item__inner {
  height: 4.75rem;
  width: 85px;
  -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
          clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  color: #35AF8B;
  cursor: pointer;
}

.hex__nav__item__inner h3 {
  font-size: 13px;
  position: relative;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hex__nav__item__inner #arrow {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.hex__nav__item:nth-child(odd) {
  margin: 55px 0;
}

.hex__nav__item:nth-child(1), .hex__nav__item:nth-child(2) {
  margin-right: -32px;
}

.hex__nav__item:nth-child(4) {
  position: absolute;
  right: 0;
  top: -55px;
}

@media (min-width: 500px) {
  .hex__nav__item:nth-child(4) {
    position: relative;
  }
}

@media (min-width: 500px) {
  .hex__nav__item:nth-child(even) {
    top: -55px;
  }
  .hex__nav__item:nth-child(odd) {
    top: 0;
    margin: 0;
  }
  .hex__nav__item:nth-child(1), .hex__nav__item:nth-child(3) {
    margin-right: -32px;
  }
}

@media (min-width: 800px) {
  .hex__nav__item {
    width: 210px;
    height: 180px;
  }
  .hex__nav__item__inner {
    width: 100%;
    height: 100%;
  }
  .hex__nav__item:nth-child(even) {
    top: -90px;
  }
  .hex__nav__item:nth-child(odd) {
    top: 0;
    margin: 0;
  }
  .hex__nav__item:nth-child(2) {
    margin-right: -53px;
  }
  .hex__nav__item:nth-child(1), .hex__nav__item:nth-child(3) {
    margin-right: -53px;
  }
  .hex__nav__item:nth-child(4) {
    margin-right: -53px;
  }
  .hex__nav__item h3 {
    font-size: 1rem;
  }
  .hex__nav__item--active .hex__nav__item__inner {
    gap: 1rem !important;
  }
  .hex__nav__item--active .hex__nav__item__inner #arrow {
    opacity: 1;
    visibility: visible;
  }
}

.hex__nav__item--active .hex__nav__item__layer {
  background-color: #39c69c !important;
}

.hex__nav__item--active .hex__nav__item__inner {
  background-color: #43d1a7 !important;
  color: #222;
  gap: .25rem;
}

.hex__nav__item--active .hex__nav__item__inner #arrow {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 800px) {
  .hex__header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
    margin-top: 4rem;
  }
  .hex__header .tex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .hex__header .tex h2 {
    font-size: 42px;
    margin-bottom: 1rem;
  }
  .hex__header .tex p {
    font-size: 14px;
  }
  .hex__header .tex-img {
    display: block;
    width: 60%;
  }
  .hex__slider {
    height: 476px;
  }
  .hex__slider__layer {
    padding: 3rem;
  }
  .hex__slider__caption {
    width: 60%;
  }
  .hex__slider__caption h2 {
    font-size: 24px;
  }
  .hex__slider__caption p {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.intween {
  width: 90%;
  margin: auto;
  margin-top: .5rem;
}

.intween img {
  width: 100%;
}

@media (min-width: 500px) {
  .intween {
    margin-top: 5rem;
  }
}

@media (min-width: 800px) {
  .intween {
    display: none;
  }
}

.service {
  width: 100%;
  height: 406px;
  background-color: white;
  margin-top: -1rem;
  position: relative;
  z-index: 1;
  clip-path: polygon(0 10%, 22% 0, 100% 20%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 22% 0, 100% 20%, 100% 100%, 0 100%);
  background-image: url("../images/office2.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.service .container {
  height: 100%;
}

.service__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.service__content {
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  position: relative;
  z-index: 10;
}

.service__content h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-top: 3rem;
}

.service__description h2 {
  color: #50E2B7;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.service__description p {
  font-size: 1rem;
}

.service__description .more {
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-top: 3rem;
}

@media (min-width: 800px) {
  .service {
    height: 400px;
    clip-path: polygon(0 25%, 16% 0, 100% 50%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 25%, 16% 0, 100% 50%, 100% 100%, 0 100%);
    margin-top: 4rem;
  }
  .service__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
  }
  .service__content h1 {
    font-size: 46px;
  }
  .service__description {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .service__description h2 {
    margin: 0;
    font-size: 28px;
  }
  .service__description p {
    font-size: 18px;
    line-height: 32px;
  }
  .service__description .more {
    margin: 0;
    font-size: 14px;
  }
}

.brands {
  width: 100%;
  background-color: #222;
  position: relative;
  z-index: 5;
}

.brands__container {
  width: 100%;
  padding: 2rem 0;
}

.brands__brand {
  width: 100%;
  padding: 2rem 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.brands__brand .logo {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.brands__brand h2 {
  color: white;
  margin-top: 1rem;
}

.brands__brand .brand_title p {
  margin-top: 5px;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  display: none;
}

.brands__brand p {
  color: #C4C4C4;
}

.brands__brand a {
  color: white;
  text-decoration: none;
  margin-top: 1.5rem;
}

.brands__brand a button {
  width: 124px;
  padding: 1rem;
  background-color: #35af8b;
  color: white;
  border: 1px solid #35af8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.brands__brand a button .txt {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

@media (min-width: 500px) {
  .brands__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .brands__brand .brand_title p {
    display: block;
  }
}

@media (min-width: 1024px) {
  .brands__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .brands__container {
    gap: 4rem;
  }
}

.rocket {
  width: 100%;
  background-color: #FFDA56;
  color: #222;
  position: relative;
  z-index: 5;
}

.rocket__container {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.rocket__container p {
  font-size: 14px;
  margin-top: 10px;
}

.rocket__container p span {
  color: #000;
  font-weight: 500;
}

.rocket__container .title h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.rocket__container .title p {
  font-size: 18px;
  line-height: 30px;
}

.rocket__container .button {
  width: 100%;
  margin-top: 2rem;
}

.rocket__container .button button {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #222;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  border: 1px solid #222;
}

.rocket__container .button button p {
  margin: 0;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}

@media (min-width: 800px) {
  .rocket__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 4rem;
  }
  .rocket__container .button {
    width: 305px;
  }
  .rocket__container .button button {
    font-size: 18px;
  }
  .rocket__container p {
    font-size: 16px;
  }
  .rocket__container .title h1 {
    font-size: 46px;
  }
  .rocket__container .title p {
    font-size: 20px;
  }
}

.footer {
  width: 100%;
  background-color: #303030;
  position: relative;
  z-index: 5;
}

.footer__content {
  padding: 4rem 0;
  color: #a5a5a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

@media (min-width: 800px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .footer__content {
    gap: 6rem;
  }
}

.footer__nav {
  width: 100%;
}

.footer__nav .select {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.footer__nav .select .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.footer__nav .select .row h1 {
  font-size: 13px;
}

.footer__nav .select .row a {
  color: #a5a5a5;
  text-decoration: none;
}

@media (min-width: 800px) {
  .footer__nav .select .row:nth-child(2) {
    display: none;
  }
}

.footer__nav .info .address {
  font-size: 13px;
}

.footer__nav .info .copyright {
  font-size: 13px;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
}

.footer .options_container {
  width: 100%;
}

.footer .options_container .row {
  width: 100%;
  display: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer .options_container .row a {
  color: #a5a5a5;
  text-decoration: none;
}

.footer .options_container .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  padding: 1rem 1.5rem;
  background-color: #3a3a3a;
}

.footer .options_container .options p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.03em;
  font-size: 13px;
  font-weight: 500;
}

@media (min-width: 800px) {
  .footer .options_container {
    width: 300px;
  }
  .footer .options_container .row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
/*# sourceMappingURL=style.css.map */