.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    transition: all 0.3s ease;

    &::after {
        content: "";
        top: 100%;
        position: absolute;
        width: 100%;
        height: 0;
        background-color: inherit;
        transition: all 0.3s ease;
        background-color: rgba(16, 16, 16, 0.6);
    }
    
    &--bg {
        background-color: rgba(16, 16, 16, 0.6);
    }

    @media (min-width:800px) {
        &:hover {
            background-color: rgba(16, 16, 16, 0.6);
            &::after {
                height: 200px;
            }
        }
    }
}

.mobile-navigation {
    width: 100%;
    height: 100vh;
    background-color: $big-title;
    position: fixed;
    top: 0;
    z-index: 30;
    left: 100%;
    transition: all .3s ease-in-out;

    &--open {
        left: 0;
    }

    @media (min-width:800px) {
        display: none;
    }
}