.intween {
    width: 90%;
    margin: auto;
    margin-top: .5rem;
    img {
        width: 100%;
    }

    @media (min-width: 500px) {
        margin-top: 5rem;
    }

    @media (min-width: 800px) {
        display: none;
    }
}
.service {
    width: 100%;
    height: 406px;
    background-color: white;
    margin-top: -1rem;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 10% , 22% 0 , 100% 20% , 100% 100% , 0 100%);
    -webkit-clip-path: polygon(0 10% , 22% 0 , 100% 20% , 100% 100% , 0 100%);
    background-image: url('../images/office2.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .container {
        height: 100%;
    }

    &__layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .4);
    }

    &__content {
        width: 100%;
        height: 100%;
        color: white;
        @include flexItems(column , center , flex-start , 3rem);
        position: relative;
        z-index: 10;
        h1 {
            text-transform: uppercase;
            font-family: $motserrat;
            font-size: 24px;
            margin-top: 3rem;
        }
    }

    &__description {
        h2 {
            color: $light-green;
            font-size: 18px;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
        .more {
            font-size: 12px;
            font-weight: 600;
            font-family: $motserrat;
            margin-top: 3rem;
        }
    }


    @media (min-width: 800px) {
        height: 400px;
        clip-path: polygon(0 25% , 16% 0 , 100% 50% , 100% 100% , 0 100%);
        -webkit-clip-path: polygon(0 25% , 16% 0 , 100% 50% , 100% 100% , 0 100%);

        &__content {
            justify-content: space-around;
            gap: 0;
            h1 {
                font-size: 46px;
            }
        }

        &__description {
            width: 100%;
            @include flexItems(row , space-between , center , 2rem);
            h2 {
                margin: 0;
                font-size: 28px;
            }
            p {
                font-size: 18px;
                line-height: 32px;
            }
            .more {
                margin: 0;
                font-size: 14px;
            }
        }
    }
} 