// colors
// ------------------------
$green: #35AF8B;
$yellow: #FFC67B;
$bg-yellow: #FFDA56;
$bg-green: #33F4BB;
$template-bg: #F7F7F7;
$hex-bg: #43D1A7;
$big-title: #222;
$sub-title: #333;
$text: #444;
$grey-text: #808080;
$greyish: #666;
$light-green: #50E2B7;
$footer-bg: #303030;
$light-grey: #A5A5A5;
$whitish: #CFCFCF;
$drop: #DADADA;
$light-grey-text: #C4C4C4;

// ----------------------------
// font-family
$noto: 'Noto Sans KR', sans-serif;
$motserrat: 'Montserrat', sans-serif;